

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    border: 10px solid rgb(144, 255, 122);
    font-size: larger;
    text-align: center;
    opacity: 0.5;
}

.container {
    display: flex;
    justify-content: center;

}

button {
    padding: 20px;
    margin: 15px;
    width: 200px;

    background-color: ;
    color: ;

    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}

div {
    margin: 15px;

}

#result {
    border: 2px solid hotpink;

}

#pScore,
#cScore {
    border: 2px solid navy;

}

#winner {
    background-color: yellow;
}


/* 


*/