@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* 
* {
    border: 1px solid magenta;
}
 */

html {
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;

    border: 10px solid #FF5722;

    font-size: 2rem;
    text-align: center;

    background-color: ;
    color: ;
}

.container {
    display: flex;
    justify-content: center;

}

button {
    padding: 20px;
    margin: 15px;
    width: 200px;

    background-color: #FFC107;
    color: ;

    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 1.5rem;

    border: none;
    border-radius: 35px;
}


button:hover {
    background-color: #FF5722;
}

button:active {
    scale: 0.9;
}

div {
    margin: 15px;

}

#result {
    border: 2px solid hotpink;

}

#pScore,
#cScore {
    border: 2px solid navy;

}

#winner {
    background-color: ;
}